* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
.numbersBack {
    background-image: url(./components/images/img2.jpeg);
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.Cards{
    width: 60%;
    margin: auto;
    color: #fff;
}
.avantage {
    padding: 40px;

}
.div1 {
    text-align: center;
    padding: 40px;
}

@media screen and (max-width: 960px) {
    .numbersBack {
        background-image: url(./components/images/img2.jpeg);
        padding: 25px;
        background-repeat: no-repeat;
        background-size: auto;
    }
    
    .avantage {
        background-color: #383838;
        color: #fff;
    }
    
    .titleAV {
        text-align: center;
        padding-top: 200px;
        margin-bottom: 15px;
    }
    .contact {
        padding-top: 100px;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .sender {
        background-color: #383838;
        color: #fff;
    }
    .div1 {
        width: 90%;
         margin: auto;
    }
}